<head>
    <title>Downloading...</title>
    <script>
        window.onload = function () {
            const link = document.createElement("a");
            link.href = "/download-business";
            link.download = "businesses.xlsx";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

            // Increase delay to 3 seconds (ensures the download completes)
            setTimeout(() => {
                window.location.href = "/bss";
            }, 500);
        };
    </script>
    <style>
    </style>
</head>
<% layout('layout') %>
<body class="">
    <div class="justifyStart alignStart">
        <div class="height0 width35 padding25 borderRadius25 bgBlack col" style="background-color: rgba(255, 255, 255, 0.1);">
            <p class="size30 str500 textCenter">Downloading your file ..</p>
        </div>
    </div>
</body>

</html>

